<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacToe"
        tools:targetApi="31">
        <activity
            android:name=".ScoreboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- MainActivity: Başlatıcı Aktivite -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- export olarak işaretlendi -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LeaderBoardActivity: Skor Tablosu Aktivitesi -->
        <activity
            android:name=".LeaderBoardActivity"
            android:exported="true" /> <!-- export edilmesi gerekebilir, dışarıdan başlatılabilir -->
        <!-- GameActivity: Oyun Aktivitesi -->
        <activity
            android:name=".GameActivity"
            android:exported="true" />
    </application>

</manifest>